<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
  <div class="form-horizontal">

    <h3>Are you sure you want to delete this?</h3>
    <div>
      <h4>Employee</h4>
      <hr />

      <dl class="dl-horizontal">
        <dt>Employee Name</dt>

        <dd>{{employee.empName}}</dd>

        <dt>Designation</dt>

        <dd>{{employee.designation}}</dd>

        <dt>Contact No</dt>

        <dd>{{employee.contactNo}}</dd>

        <dt>Email Id</dt>

        <dd>
          <a href="{{employee.emailId}}">{{employee.emailId}}</a>
        </dd>

        <dt>Skill Set</dt>

        <dd>{{employee.skillSet}}</dd>

        <dt>Manager</dt>

        <dd>{{employee.managerId}}</dd>

      </dl>
      </div>
      <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a href="/employee">Back to List</a>
      </p>
    </div>
</form>