<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
  <div class="form-horizontal">

    <h4>Edit ManagerComment</h4>
    <hr />

    <div class="form-group">
      <label class="control-label col-md-2" for="comment">Manager Comment</label>
      <div class="col-md-10">
        <input class="form-control text-box single-line" id="comment" formControlName="comment" name="comment" type="text" value=""
        />
        <div *ngIf="formData.controls.comment.errors && (formData.controls.comment.dirty || formData.controls.comment.touched)" class="alert-danger">
          <div *ngIf="formData.controls.comment.errors.required">
            Comment is required
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label class="control-label col-md-2" for="projTaskId">Task Id</label>
      <div class="col-md-10">
        <input class="form-control text-box single-line" data-val="true" data-val-number="The field Task Id must be a number." data-val-required="The Task Id field is required."
          id="projTaskId" formControlName="projTaskId" name="projTaskId" type="number" value="" />
        <div *ngIf="formData.controls.projTaskId.errors && (formData.controls.projTaskId.dirty || formData.controls.projTaskId.touched)" class="alert-danger">
          <div *ngIf="formData.controls.projTaskId.errors.required">
            Project Task is required
          </div>
        </div>
      </div>
    </div> -->

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Update" class="btn btn-default" [disabled]="!formData.valid"/>
      </div>
    </div>
  </div>
</form>
<div>
  <a href="/managerComment/showManagerComment/{{comment.projTaskId}}">Back to List</a>
</div>