<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
  <div class="form-horizontal">

    <h3>Are you sure you want to delete this?</h3>
    <div>
      <h4>Task</h4>
      <hr />
      <dl class="dl-horizontal">
        <dt>Start Date</dt>

        <dd>{{task.startDate | date}}</dd>

        <dt>End Date</dt>

        <dd>{{task.endDate | date}}</dd>

        <dt>Completion Date</dt>

        <dd>{{task.completion | date}}</dd>

        <dt>Assigned To</dt>

        <dd>{{task.empId}}</dd>

    
      </dl>
    </div>
    <p>
      <input type="submit" value="Delete" class="btn btn-default" /> |
      <a href="/task">Back to List</a>
    </p>
  </div>
</form>